    <appSettings>
      <add key="SHASIGNATURE" value="WilmingtonTraining2" />

      <!-- Salesforce REST connection details -->
      <add key="ClientId" value="3MVG97srI77Z1g7_cn3669mwYaMdiugITw5Tp0d8hfWRgLmz6VeNZJa4ZsyabhnN3QT5z6osxms_.KQZYwkA7" />
      <add key="ClientSecret" value="D6FF4B25AB0371BDBCB5F77D316D2B0D396428D5D45440CF97CAA8A9A35C9AC5" />
      <add key="InstanceUri" value="https://test.salesforce.com/services/oauth2/token" />
      <add key="Uname" value="chargebeewebintegration@wilmingtonplc.com.uat" />
      <add key="Pass" value="chargbee1234!4TTH5GVwWZ77qmrYrfwkZRNx0" />
      <add key="GrantType" value="password" />
      <add key="SFContactRequestEndPoint" value="https://wilmingtonplc--uat.my.salesforce.com/services/apexrest/chargebeeService/v1/" />
      <add key="SDSoapBlockEcommerce" value="true"/>
      <!--Used when the contact matching doesn't return a value-->
      <add key="SFContactRequestLogInfo" value="true"/>
      <!-- Salesforce connection details -->
      <add key="CustomerKey" value="3MVG96mGXeuuwTZi1Fvcrlwfqocq6Tr3k5lMDcc311Jwb00fkY.mBZueNPQk6rFohc_MBXc.oReRf6XA7l0B1" />
      <add key="CustomerSecret" value="9B765C6FD00C9496EB5F33F251AEB90965DC7B72AC97B75C32044544BF3F7B1E" />
      <add key="SalesforceUri" value="https://test.salesforce.com/services/oauth2/token" />
      <add key="Username" value="wte_softwaredevelopment@wilmingtontraining.co.uk.bgservice1" />
      <add key="Password" value="WrensCourt2015" />
      <add key="Token" value="evOzfGN6T3gdSDTiyRLcSv5M" />
      <add key="SalesforceEnv" value="FULL" />
      <add key="SFCacheTimeout" value="5" />
      <add key="memberServiceEndpoint" value="/services/apexrest/icaweb/v2?" />
      <add key="memberDirectoryServiceEndpoint" value="/services/apexrest/icaweb/v3?isMembershipDirectory=true" />

      <!--Database Settings-->
      <!--<add key="ICADB" value="WebsiteICA_SF.Umbraco" />-->
      <add key="ICADB" value="WebsiteICA_SF_Dev.Umbraco" />
      <add key="ADMINDASHDB" value="AdminDash_Dev.dbo" />
      <add key="DASHBOARDDB" value="ICAMetaCapability_DEV.dbo" />
      <add key="APIDB" value="ICASalesforceData_Dev.dbo"/>

      <!--BRIGHTGEN ENDPOINT DETAILS-->
      <add key="endPoint" value="https://WilmingtonTRIAL205692.jitterbit.eu/UATEnvironment/1.0/Inbound_Changes" />
      <add key="endPointUsername" value="BrightGen" />
      <add key="endPointPassword" value="BrightGen1" />

      <!--ChargeBee-->
      <add key="CBsite" value="wilmington-plc-test"/>
      <add key="CBKey" value="test_76nufRl6lc7FqU8thhbtpgCN8TqFx0aK"/>
      <add key="CBintentKey" value="test_AQl0rzflekgoSFg8JZ3wHxXBin53zEu7"/>
      <add key="ecommerceTesting" value ="false"/>
      <add key="defaultTestEmail" value="comahony@centlaw.com" />
      <add key="CBBlockNonGBP" value="false"/>
      <add key="CBGatewayGBP" value="gw_AzZlqNShlaPu0H5u" />
      <add key="CBGatewayUSD" value="gw_AzZlqNShlaPu0H5u" />
      <add key="CBGatewayEUR" value="gw_AzZlqNShlaPu0H5u" />

      <!-- Direct Debit VSeries Url for the service-->
      <!--<add key="VSeriesURL" value="https://vseries.bottomline.com/api/" />-->
      <add key="VSeriesURL" value="https://verify.uk.pt-x.com/v1/api/" />
      <!--test license key 32Z-9CDE5B52-9BF6-4337-9FBA-2DA2B1825562   url: vseries-test.bottomline.....-->
      <!-- live license key 32Q-8C9BC82A-FDE6-4864-A9BC-3DFB36BE9153  url: vseries.bottomline......-->
      <add key="VSeriesAPIKey" value="32Q-8C9BC82A-FDE6-4864-A9BC-3DFB36BE9153" />
      <!-- Direct Debit CSeries-->
      <add key="CSeries-username" value="BACS\ICA" />
      <add key="CSeries-password" value="ICAICA50" />
      <add key="ValidationService.Url" value="http://wg-paybase.central.wilmington.co.uk:1337/" />
      <add key="ValidationService.FindIbans" value="true" />

      <!--CSERIES CLOUD-->
      <add key="PTXURL" value="https://uk.pt-x.com/" />
      <!--Development -->
      <add key="PTXEmail" value="icaapi@wilmingtonplc.com" />
      <add key="PTXPassword" value="Compliance2" />
      <add key="PTXCollectionProfileID" value="6428" />
      <!--Development ID-->

      <!--END CSERIES CLOUD-->

      <!--Recaptcha Settings-->
      <add key="Recaptcha-SiteKey" value="6LdG5d4ZAAAAAHH82vT1rZfk_ryWwlVfOv8Q_rll" />
      <add key="Recaptcha-SecretKey" value="6LdG5d4ZAAAAAClmbwsi3aDM1p40FKBU-LmWkQOJ" />

      <!-- SSO -->
      <add key="SSO.UseSecureCookies" value="false" />
      <!--What does this do?-->
      <add key="SSO.CanInitiateLogin" value="true" />
      <add key="SSO.PartnerIdP" value="http://www.okta.com/exk19c3tkivaFhxor417" />
      <add key="SSO.RedirectUrl.General" value="https://ica-dev.kbs-keystone.com/open-id/start" />
      <add key="SSO.RedirectUrl.Totara" value="https://wilmington12.sandbox.learningpool.com/totara/dashboard/index.php" />

      <add key="SFFeedFallback" value="false"/>
      <!--SF API Settings-->
      <add key="SFApiBaseUrl" value="https://localhost:44393/api/v1/"/>
      <add key="SFApiBearerToken" value="f1b6e1ba-2d95-11ec-8d3d-0242ac130003"/>
      <add key="APILogLocation" value="C:\Logs\"/>
    </appSettings>